@page
@model FootballTrivia.Areas.SpeedRound.Pages.GameSetupModel
@{
	var latestYear = DateTime.Now.Year - 1;
	var startYear = 2010;
	List<int> years = Enumerable.Range(startYear, latestYear - startYear + 1).ToList();
}

<!--TODO: Disable league selection until player selects a year-->
<div class="dropdown">
	<button id="js-dropdown-btn" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
		Dropdown button
	</button>
	<ul class="dropdown-menu" id="js-year-dropdown">
		@foreach (var year in years)
		{
			<li><a class="dropdown-item" href="#" onclick="getYear(this)">@year</a></li>
		}
	</ul>
</div>

<div>
	<a asp-area="SpeedRound" asp-page="/Index" data-league-id="39" class="begin-quiz-link"><h2>English Premier League</h2></a>
	<a asp-area="SpeedRound" asp-page="/Index" data-league-id="61" class="begin-quiz-link"><h2>Ligue 1</h2></a>
</div>