@page
@model FootballTrivia.Areas.SpeedRound.Pages.GameSetupModel
@{
}

<div>
	<a asp-area="SpeedRound" asp-page="/Index" asp-route-lid="39" class="begin-quiz-link"><h2>English Premier League</h2></a>
	<a asp-area="SpeedRound" asp-page="/Index" asp-route-lid="61" class="begin-quiz-link"><h2>Ligue 1</h2></a>
</div>