@page
@model FootballTrivia.Areas.SpeedRound.Pages.IndexModel
@{
	var points = 0;
	var jsonString = JsonSerializer.Serialize(Model.Standings?.Select(s => s.ToLower()));
}

<div>
	<button type="button" id="start-game" class="btn btn-success">Start!</button>
	<input type="text" id="speed-answer" name="answer">
</div>

<script>
	var answers = @Html.Raw(jsonString);
	var speedAnswerInput = document.getElementById('speed-answer');
	var startGameBtn = document.getElementById('start-game');
	
	speedAnswerInput.addEventListener('keyup', function () {
		var answer = this.value;
		if (answers.includes(answer.toLowerCase())) {
			alert('Correctomundo!!!!'); // TODO: Display some kind of message indicating correct answer
			this.value = "";
			var index = answers.indexOf(answer);
			if (index > -1) {
				answers.splice(index, 1);
			}
		}
	});

	startGameBtn.addEventListener('click', function () {
		speedAnswerInput.style.display = 'block';
		this.style.display = 'none';
	});
</script>