@page
@model IndexModel
@{
	Dictionary<string, string> questions = new Dictionary<string, string>
	{
		{ "How old is Neymar?", "29" },
		{ "Who is the all the time leading Premier League goal scorer?", "Alan Shearer" },
		{ "Who does Harry Kane play for?", "Bayern Munchen" },
	};

	var jsonString = JsonSerializer.Serialize(questions);
	var currentQuestion = 0;
}

<ul>
	<li class="js-question"></li>
</ul>

<script>
	var questions = @Html.Raw(jsonString)
	console.log(questions)

	@{currentQuestion++;}
	console.log(@currentQuestion)
</script>