@page
@model IndexModel
@{
	var questions = Model.Questions;

	var jsonString = JsonSerializer.Serialize(questions);
}

<div class="question-block text-center">
	<p id="question"></p>
	<button type="button" class="btn btn-primary" id="answer-0" onclick="checkAnswer(this)"></button>
	<button type="button" class="btn btn-primary" id="answer-1" onclick="checkAnswer(this)"></button>
	<button type="button" class="btn btn-primary" id="answer-2" onclick="checkAnswer(this)"></button>
	<p id="answer-check"></p>
</div>

<script>
	window.questions = Object.entries(@Html.Raw(System.Text.Json.JsonSerializer.Serialize(questions)));
</script>