@page
@model IndexModel
@{
	Dictionary<string, string[]> questions = new Dictionary<string, string[]> // The first item in the string array is the correct answer
	{
		{ "How old is Neymar?", ["32", "27", "31"] },
		{ "Who is the all the time leading Premier League goal scorer?", ["Alan Shearer", "Michael Owen", "Wayne Rooney"] },
		{ "Who does Harry Kane play for?", ["Bayern Munchen", "Tottenham Hotspur", "Leicester City"] },
	};

	var jsonString = JsonSerializer.Serialize(questions);
}

<div class="question-block text-center">
	<p id="question"></p>
	<button type="button" class="btn btn-primary" id="answer-0" onclick="checkAnswer(this)"></button>
	<button type="button" class="btn btn-primary" id="answer-1" onclick="checkAnswer(this)"></button>
	<button type="button" class="btn btn-primary" id="answer-2" onclick="checkAnswer(this)"></button>
	<p id="answer-check"></p>
</div>

<script>
	window.questions = Object.entries(@Html.Raw(System.Text.Json.JsonSerializer.Serialize(questions)));
</script>