@page
@model IndexModel
@{
	Dictionary<string, string[]> questions = new Dictionary<string, string[]> // The first item in the string array is the correct answer
	{
		{ "How old is Neymar?", ["32", "27", "31"] },
		{ "Who is the all the time leading Premier League goal scorer?", ["Alan Shearer", "Michael Owen", "Wayne Rooney"] },
		{ "Who does Harry Kane play for?", ["Bayern Munchen", "Tottenham Hotspur", "Leicester City"] },
	};

	var jsonString = JsonSerializer.Serialize(questions);
	var currentQuestion = 0;
}

<div class="question-block text-center">
	<p id="question"></p>
	<p id="answer"></p> <!--TODO: Remember to hide this using display:none-->
	<button type="button" class="btn btn-primary" id="answer-0" onclick="checkAnswer(this)"></button>
	<button type="button" class="btn btn-primary" id="answer-1" onclick="checkAnswer(this)"></button>
	<button type="button" class="btn btn-primary" id="answer-2" onclick="checkAnswer(this)"></button>
</div>

<script>
	window.questions = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(questions));
	var questions = Object.entries(@Html.Raw(jsonString))
	console.log(questions)

	console.log(@currentQuestion)
	console.log(questions[@currentQuestion])
	
	document.getElementById('question').innerHTML = questions[@currentQuestion][0]
	document.getElementById('answer').innerHTML = questions[@currentQuestion][1]

	var correctAnswer = questions[@currentQuestion][1][0]
	console.log(`CORRECT ANSWER: ${correctAnswer}`)
	var answers = questions[@currentQuestion][1]
	var randomisedAnswers = answers.sort(() => Math.random() - 0.5)
	console.log(`RANDOMISED ANSWERS: ${randomisedAnswers}`)

	document.getElementById('answer-0').innerHTML = randomisedAnswers[0]
	document.getElementById('answer-1').innerHTML = randomisedAnswers[1]
	document.getElementById('answer-2').innerHTML = randomisedAnswers[2]

	function checkAnswer(element) {
		console.log(element.innerHTML)
		var answer = element.innerHTML
		if (answer == correctAnswer) {
			alert("CORRECT!!!!!")
		} else {
			alert("INCORRECT!!!!!")
		}
	}
</script>