@page
@model IndexModel
@{
	Dictionary<string, string> questions = new Dictionary<string, string>
	{
		{ "How old is Neymar?", "29" },
		{ "Who is the all the time leading Premier League goal scorer?", "Alan Shearer" },
		{ "Who does Harry Kane play for?", "Bayern Munchen" },
	};

	var jsonString = JsonSerializer.Serialize(questions);
	var currentQuestion = 0;
}

<div class="question-block text-center">
	<p id="question"></p>
	<p id="answer"></p> <!--TODO: Remember to hide this using display:none-->
</div>

<script>
	var questions = Object.entries(@Html.Raw(jsonString))
	console.log(questions)

	@{currentQuestion++;}
	console.log(@currentQuestion)
	console.log(questions[@currentQuestion])
	
	document.getElementById('question').innerHTML = questions[@currentQuestion][0]
	document.getElementById('answer').innerHTML = questions[@currentQuestion][1]
</script>