@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Football Trivia</h1>
    <p>Are you ready to test your football knowledge?</p>
    @if (User?.Identity?.IsAuthenticated == true)
    {
        @* <a asp-area="Quiz" asp-page="/Index" class="begin-quiz-link"><h2>Begin Quiz!</h2></a> *@
        <a asp-area="SpeedRound" asp-page="/GameSetup" class="begin-quiz-link"><h2>Begin Speed Round!</h2></a>
    }
    else
    {
        <p>Log in to begin the quiz!</p>
    }
</div>
