@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Football Trivia</h1>
    <p>Are you ready to test your football knowledge?</p>
</div>
